{%extends 'users/base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5 col-3 bg-secondary" >
    <div class="card mx-auto " style="width: 35rem;">
 <div class ="content-section px-3">
     <form method ="POST">
         {%csrf_token%}
         <fieldset class ="form-group">
             <legend class="border-bottom mb-5 pt-3 pb-4 text-center "style="font-family: 'Satisfy', bold; font-size:2rem;'">Instagram</legend>
             {{ form|crispy }}
         </fieldset>
         <div class ="form-group">
             <button class = "btn btn-outline-info" type="submit">Login</button>
         </div>
    </form>

    <div class="app mr-2">
        <button class="btn btn-lg btn-dark text-center"> <i class="fab fa-google-play"></i> Google Play</button>
        <button class="btn btn-lg btn-dark"> <i class="fab fa-apple"></i> Apple Store</button>

      </div>

      
    <div class ="border-top pt-2">
        <small class="text-muted">
            Don't have an Account? <a class="ml-2" href="{%url 'register'%}"></strong>Sign Up</strong> </a>Now

        </small>
  
</div>
</div>
</div>
</div>

<div>
    <img src="https://images.unsplash.com/photo-1616469829935-c2f33ebd89b8?ixlib=rb-1.2.1&ixid=Mnw" alt="" style="height:90vh ;width:70vh">
</div>


    
{{block.super}}
{% endblock %}
